span.plug {
  color: #ff7700;
}

.en-passant {
  border: 3px solid #444;
  border-radius: 3px;
  color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
}

.en-passant:before {
  content: 'ep';
}
